body {
  font-family: Arial;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  margin: 0;
}

nav {
  background: #222;
  padding: 12px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.container {
  background: white;
  max-width: 400px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 15px;
}

.summary {
  display: flex;
  justify-content: space-between;
}

.income {
  background: #2ecc71;
  padding: 10px;
  color: white;
  border-radius: 10px;
  width: 48%;
  text-align: center;
}

.expense {
  background: #e74c3c;
  padding: 10px;
  color: white;
  border-radius: 10px;
  width: 48%;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
}

li {
  background: #f1f1f1;
  padding: 8px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

hr {
  margin: 20px 0;
}

h3 {
  text-align: center;
}

li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

small {
  opacity: 0.7;
}

